Origin: XBian
Package: xbian-update
Version: __DATE__
Section: update
Essential: Yes
Priority: optional
Pre-Depends: kbd, patch, openbsd-inetd, openssh-server, xbian-package-repo, xbian-package-config-shell (>=20190101-0), xbian-package-splash
Depends: iptables, autofs, nfs-common, dosfstools, sudo, ifplugd, ir-keytable, crda, upstart, avahi-daemon, ntfs-3g, pv, usbutils,
  libafpclient0, libnss-mdns, libxdamage1, console-setup, cifs-utils, exfat-utils, hdparm, hfsplus, hfsprogs, hfsutils,
  wireless-tools, wpasupplicant, bc, lsof, ntp, unattended-upgrades, cec-utils,
  xbian-package-xbmc-scripts (>=1.8.0), xbian-package-lirc, xbian-package-vnc-server (>=1.0.0-2), xbian-package-samba (>=20210908),
  xbian-package-initramfs-tools (>=20150918), xbian-package-usbmount (>=1.0.4-7), xbian-package-zram-swap (>=1.0-4.3)
Replaces: xbian-package-initramfs-tools, update-notifier-common, rpcbind, raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi-bin,
  libraspberrypi-dev, console-tools, rpi-update, base-files, upstart, util-linux, openbsd-inetd, nfs-common
Conflicts: dphys-swapfile, raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi-bin, console-tools, rpi-update, udhcpc, dhcpcd
Suggests: isc-dhcp-client
Breaks: xbian-package-config-xbmc (<<1.1.4-6), xbian-package-xbmc-scripts (<<1.2.5)
Architecture: armhf
Maintainer: mk01 <development@xbian.org>
Description: Updater package to XBian __DATE__
