Origin: XBian
Package: xbian-update
Version: __DATE__
Section: update
Essential: Yes
Priority: optional
Pre-Depends: udisks, kbd, btrfs-tools (>=1.0-xbian1), libcurl3, libva1, patch, openbsd-inetd, openssh-server, xbian-package-repo (>= 1.0.6-2), xbian-package-splash
Depends: iptables, lsb-release, autofs, nfs-common, dosfstools, sudo, ifplugd, ir-keytable, crda, xbian-package-samba, xbian-package-usbmount, xbian-package-lirc, upstart, avahi-daemon, ntfs-3g, pv, usbutils, libafpclient0, python-sqlite, lsof, ntp, cron, console-setup, xbian-package-zram-swap (>=1.0-3.6), libc-bin, libc6, nfs-common, cifs-utils, exfat-utils, fuse, hdparm, hfsplus, hfsprogs, hfsutils, wireless-tools, bc, ntfs-3g, wpasupplicant, unattended-upgrades, xbian-package-vnc-server (>=1.0.0-2), xbian-package-samba (>=2.0.0-3), xbian-package-config-shell (>=2.1.6-60a), libcec (>=3.0), xbian-package-initramfs-tools (>=20150918), xbian-package-lirc (>=1.4-8.8), xbian-package-usbmount (>=1.0.4-7), xbian-package-zram-swap (>=1.0-4.3)
Replaces: xbian-package-initramfs-tools, update-notifier-common, rpcbind, raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi-bin, libraspberrypi-dev, console-tools, rpi-update, base-files, upstart, util-linux, openbsd-inetd, nfs-common
Conflicts: dphys-swapfile, raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi-bin, console-tools, rpi-update, udhcpc, dhcpcd
Suggests: isc-dhcp-client
Breaks: xbian-package-config-xbmc (<<1.1.4-6), xbian-package-xbmc-scripts (<<1.2.5)
Architecture: armhf
Maintainer: mk01 <development@xbian.org>
Description: Updater package to XBian __DATE__
