Origin: XBian
Package: xbian-update
Version: 1.0-1.2
Section: update
Essential: Yes
Priority: optional
Pre-Depends: xbian-update(>=1.0-0.5), kbd, xbian-package-lirc (>=1.4), xbian-package-config-xbmc (>=1.1-1), xbian-package-xbmc (>=2.3-0.2), xbian-package-kernel (>=1.3-0), xbian-package-lirc (>=1.4-2), libc-bin (>=2.13-38+rpi2), libc-dev-bin (>=2.13-38+rpi2), libc6 (>=2.13-38+rpi2), libc6-dev (>=2.13-38+rpi2), udisks, libnfs-dev, nfs-common, samba-common-bin, avahi-daemon, xbian-package-usbmount (>=1.0-0.2), ntfs-3g, wireless-tools, libjasper-dev, libass-dev, fbset, libplist1, pv, exfat-fuse, bc, usbutils, libbluray-dev, libafpclient0, python-sqlite, btrfs-tools, libcurl3, hfsplus, hfsprogs, hfsutils, libva1, upstart, mountall, plymouth, btrfs-tools, xbian-package-config-shell (>=2.1.3-1), xbian-package-cec (>=1.1-0.2), xbian-package-firmware (>=1.4-0.1), xbian-package-splash (>=1.0-0.6)
Depends: xbian-package-zram-swap (>=1.0-2), isc-dhcp-client, xbian-package-upstart-xbmc-bridge
Replaces: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev, console-tools, sysvinit
Conflicts: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev, console-tools, sysvinit
Architecture: armhf
Maintainer: Koenkk <development@xbian.org>
Description: Hotfix update for XBian 1.0 Beta 2
