# set deadline scheduler for non-rotating disks
#ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="deadline"

# set cfq scheduler for rotating disks
#ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="noop"
#
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="0", ATTR{queue/iosched/slice_idle}="0"
ACTION=="add|change", KERNEL=="mmcblk0", ATTR{queue/iosched/slice_idle}="0"
ACTION=="add|change", KERNEL=="mmcblk0", ATTR{queue/iosched/target_latency}="120"

SUBSYSTEM=="vchiq", GROUP="video", MODE="0666"
SUBSYSTEM=="graphics_class", GROUP="video", MODE="0666"
ACTION=="add", KERNEL=="tty0", MODE="0666", GROUP="input", OPTIONS+="last_rule"
#KERNEL=="tty0", MODE="0666", GROUP="input"
KERNEL=="event*", MODE="0664", GROUP="input"

SUBSYSTEM=="misc", KERNEL=="uinput", GROUP="input", MODE="0664"

KERNEL=="mxc_*", MODE="0660", GROUP="video"
KERNEL=="galcore", MODE="0660", GROUP="video"

KERNEL=="fb*", MODE="0660", GROUP="video"
KERNEL=="fb[0-1]", ACTION=="add|change", RUN+="/usr/local/bin/modes-cubox"

KERNEL=="vc-cma" MODE="0660", GROUP="video"
KERNEL=="vchiq" MODE="0660", GROUP="video"
KERNEL=="vcio" MODE="0660", GROUP="video"
KERNEL=="vc-mem" MODE="0660", GROUP="video"
KERNEL=="vcsm" MODE="0660", GROUP="video"
KERNEL=="vcsm-cma", GROUP="video", MODE="0660"
KERNEL=="argon-*" MODE="0660", GROUP="video"
KERNEL=="rpivid-*" MODE="0660", GROUP="video"

KERNEL=="rpivid-hevcmem", ACTION=="add|change", RUN+="/bin/ln -sf /dev/rpivid-hevcmem /dev/argon-hevcmem"
KERNEL=="rpivid-intcmem", ACTION=="add|change", RUN+="/bin/ln -sf /dev/rpivid-intcmem /dev/argon-intcmem"

#KERNEL=="busfreq.13", ACTION=="add|change", ATTR{enable}="0"

SUBSYSTEM=="dma_heap", KERNEL=="linux*", GROUP="video", MODE="0660"
SUBSYSTEM=="dma_heap", KERNEL=="system", GROUP="video", MODE="0660"

KERNEL=="ttyAMA[0-9]*|ttyS[0-9]*", PROGRAM="/bin/sh -c '\
        ALIASES=/proc/device-tree/aliases; \
        TTYNODE=$$(readlink /sys/class/tty/%k/device/of_node | sed 's/base/:/' | cut -d: -f2); \
        if [ -e $$ALIASES/bluetooth ] && [ $$TTYNODE/bluetooth = $$(strings $$ALIASES/bluetooth) ]; then \
            echo 1; \
        elif [ -e $$ALIASES/console ]; then \
            if [ $$TTYNODE = $$(strings $$ALIASES/console) ]; then \
                echo 0;\
            else \
                exit 1; \
            fi \
        elif [ $$TTYNODE = $$(strings $$ALIASES/serial0) ]; then \
            echo 0; \
        elif [ $$TTYNODE = $$(strings $$ALIASES/serial1) ]; then \
            echo 1; \
        else \
            exit 1; \
        fi \
'", SYMLINK+="serial%c", RUN+="/sbin/initctl emit -n bt-ready"

ACTION=="add",  SUBSYSTEM=="bluetooth", RUN+="/sbin/initctl emit -n bt-ready"
